# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

#debug database files
firefly.VC.db
firefly.VC.VC.opendb

# Executables
CMakeUserPresets.json
*.exe
*.out
*.app
/.vs/firefly/v14
/ffscript/x64
/x64
/ipch
/ffscriptUT/x64
/ffscriptLibrary/x64
/debugger/buid64/cinder/INSTALL.vcxproj.filters
/debugger/buid64/cinder/INSTALL.vcxproj
/debugger/buid64/cinder/cmake_install.cmake
/debugger/buid64/CMakeFiles
/debugger/buid64/cinder/CMakeFiles
/debugger/buid64/.vs/ffdebugger/v14
/debugger/buid64/bin/x64/debug/spylib.dll
/debugger/buid64/bin/x64/debug/spy-engine-1.0.dll
/debugger/buid64/ffdebugger
/debugger/buid64/ffscript
/debugger/buid64/spylib
/debugger/buid64/x64/Debug
/debugger/buid64/ZERO_CHECK.vcxproj.filters
/debugger/buid64/ZERO_CHECK.vcxproj
/debugger/buid64/install_manifest.txt
/debugger/buid64/INSTALL.vcxproj.filters
/debugger/buid64/INSTALL.vcxproj
/debugger/buid64/ffdebugger.VC.db
/debugger/buid64/ffdebugger.sln
/debugger/buid64/cmake_install.cmake
/debugger/buid64/CMakeCache.txt
/debugger/buid64/ALL_BUILD.vcxproj.filters
/debugger/buid64/ALL_BUILD.vcxproj
/ffscriptUT/Debug
/ffscriptUT/Release
/Debug
/ffscript/Debug
/ffscriptLibrary/Debug/ffscriptLibrary.tlog
/ffscriptLibrary/Debug
build/*
gtest/conan/*